<div class="card">
    <h5 [ngStyle]="{color:'var(--primary-color)'}">Filter Reviews</h5>
    <br>
    <form [formGroup]="filterForm" (ngSubmit)="onSearch()">
        <div class="p-fluid grid">
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input pInputText type="text" id="author" formControlName="authorName">
                    <label for="author">Author</label>
                </span>
            </div>
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input pInputText type="text" id="module" formControlName="moduleName">
                    <label for="module">Module</label>
                </span>
            </div>

            <div class="field col-12 md:col-4">
                <span class="p-float-label">

                    <p-dropdown
                        id="status"
                        inputId="status"
                        [options]="statuses"
                        optionLabel="name"
                        optionValue="id"
                        [filter]="false"
                        formControlName="reviewStatus"
                        [showClear]="true"
                        placeholder="Status">
                    </p-dropdown>
                    <!--                    <label for="status">Status</label>-->
                </span>
            </div>
            <div class="field col-2">
                <p-button label="Search" type="submit" icon="pi pi-search" [loading]="isLoading"></p-button>
            </div>
        </div>
    </form>
</div>
