<div class="card">
    <h5 [ngStyle]="{color:'var(--primary-color)'}">Filter Users</h5>
    <br>
    <form [formGroup]="filterForm" (ngSubmit)="onSearch()">
        <div class="p-fluid grid">
            <div class="field col-12 md:col-6">
                <span class="p-float-label">
                    <input pInputText type="text" id="firstName" formControlName="firstName">
                    <label for="firstName">First Name</label>
                </span>
            </div>
            <div class="field col-12 md:col-6">
                <span class="p-float-label">
                    <input pInputText type="text" id="lastName" formControlName="lastName">
                    <label for="lastName">Last Name</label>
                </span>
            </div>
            <div class="field col-12 md:col-5">
                <span class="p-float-label">
                    <input pInputText type="text" id="email" formControlName="emailAddress">
                    <label for="email">Email</label>
                </span>
            </div>
            <div class="field col-12 md:col-5">
                <span class="p-float-label">
                    <p-multiSelect
                        id="roles"
                        inputId="roles"
                        [options]="roles"
                        optionLabel="name"
                        optionValue="roleType"
                        [filter]="false"
                        formControlName="roleTypes">
                    </p-multiSelect>
                    <label for="roles">Roles</label>
                </span>
            </div>

            <div class="field col-12 md:col-2">
                <span class="p-float-label">
                    <p-dropdown
                        id="active"
                        inputId="active"
                        [options]="active"
                        optionLabel="name"
                        optionValue="value"

                        [filter]="false"
                        formControlName="activityStatus"
                    >
                    </p-dropdown>
                </span>
            </div>
            <br>

            <div class="field col-2">
                <p-button label="Search" type="submit" icon="pi pi-search" [loading]="isLoading"></p-button>
            </div>

        </div>
    </form>
</div>
