<button pButton pRipple type="button" class="p-button-raised p-button-rounded" (click)="showMaximizableDialog()">Review</button>
<p-dialog
    [(visible)]="displayMaximizable"
    [modal]="true" [style]="{width: '50vw'}"
    [maximizable]="true"
    [draggable]="false"
    [resizable]="false"
>
    <ng-template pTemplate="header">
        <div class="grid">
            <h4 class="col-12" style="font-weight: bold">{{ review.moduleName }}</h4>
        </div>
    </ng-template>
    <h5 [ngStyle]="{color:'var(--blue-600)'}">Current status: <span><p-tag [severity]="getTagStatus(review)" [value]="review.status"></p-tag></span></h5>
    <br>
    <p>{{ review.reviewContent }}</p>

    <ng-template pTemplate="footer">
        <hr>
        <div class="flex justify-content-center">
            <button
                style="width: 130px"
                pButton
                type="button"
                label="Pending"
                icon="pi pi pi-question-circle"
                class="p-button p-button-warning"
                (click)=onPending()>
            </button>
            <button
                style="width: 130px"
                pButton
                type="button"
                label="Flag"
                icon="pi pi pi-flag"
                class="p-button p-button-danger"
                (click)=onFlag()>
            </button>
            <button
                style="width: 130px"
                pButton
                type="button"
                label="Approve"
                icon="pi pi pi-heart"
                class="p-button p-button-success"
                (click)=onApprove()>
            </button>
        </div>
    </ng-template>
</p-dialog>
