<div class="card">
    <h5 [ngStyle]="{color:'var(--primary-color)'}">Filter Modules</h5>
    <br>
    <form [queryParamGroup]="paramGroup">
        <div class="p-fluid grid">
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input pInputText type="text" id="firstName" queryParamName="code">
                    <label for="firstName">Code</label>
                </span>
            </div>
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input pInputText type="text" id="lastName" queryParamName="name">
                    <label for="lastName">Name</label>
                </span>
            </div>
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input pInputText type="text" id="email" queryParamName="coordinator">
                    <label for="email">Coordinator</label>
                </span>
            </div>
            <div class="field col-2">
                <p-button label="Search" type="submit" icon="pi pi-search" [loading]="isLoading"></p-button>
            </div>
        </div>
    </form>
</div>
